<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/fx.min.js"></script>
  <script src="/javascripts/$.js"></script>
</head>

<body>
  <% if (typeof username !== 'undefined') { %>
    <header class="header">
      <a href="/">pual-store</a>
      <div>
        <%-username%> 님
        <a href="/cart">장바구니</a>
        <a href="/mypage">마이페이지</a>
        <a href="/auth/signout">로그아웃</a>
      </div>
    </header>
  <% } %>
  <%-body%>
  <script src="/javascripts/common.js"></script>
  <% if (typeof pageScript !== 'undefined') { %>
  <% pageScript.forEach(function (fileName){ %>
  <script src="/javascripts/<%-fileName%>"></script>
  <% }); %>
  <% } %>
</body>

</html>