<div class="login">
  <form class="form">
    <div class="login-box">
      <div class="h1">로그인</div>
      <div class="column">
        <input type="text" name="email" class="input" placeholder="이메일을 입력해주세요.">
      </div>
      <div class="column">
        <input type="password" name="password" class="input" placeholder="비밀번호를 입력해주세요.">
      </div>
      <div class="column">
        <button type="submit" class="button">로그인</button>
      </div>
    </div>
  </form>
</div>
<script>
  const form = document.querySelector('.form');
  form.addEventListener('submit', (e) => {
    e.preventDefault();

    const {
      email: { value: emailValue },
      password: { value: passwordValue }
    } = form;

    if (emailValue == '' || passwordValue == '')
      return alert('이메일 또는 비밀번호를 입력해주세요!');

    fetch('/users', {
      method: 'POST',
      headers: {
        'Content-type': 'application/json'
      },
      body: JSON.stringify({
        email: emailValue,
        password: passwordValue
      }),
    })
      .then(res => res.json())
      .then(data => console.log(data));
  })
</script>