<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/fx.min.js"></script>
  <script src="/javascripts/$.js"></script>
</head>

<body>
  <%-body%>
  <script src="/javascripts/common.js"></script>
  <% if (typeof pageScript !== 'undefined') { %>
    <% pageScript.forEach(function (fileName){ %>
    <script src="/javascripts/<%-fileName%>"></script>
    <% }); %>
  <% } %>
</body>

</html>