<div class="home">
  <h1>안녕하세요! {{ username }} 님</h1>
  <a href="/cart">장바구니</a>
  <button type="button" class="logout">로그아웃</button>
</div>

<script>
  $.on('click', () => (console.log('click'), logout()))($.qs('.logout'));

  async function logout() {
    try {
      const result = await fetch('/users/logout', {
        method: 'POST',
      });
      const { redirectTo } = await result.json();

      if (redirectTo) window.location.href = `http://localhost:3000${redirectTo}`;

    } catch (err) {
      console.log(err);
    }
  }
</script>