<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/fx.js"></script>
  <script src="/javascripts/$.js"></script>
</head>

<body>
  {{#if isLoggedIn}}
  <a href="/auth/signout" class="logout">로그아웃</a>
  {{/if}}
  {{{body}}}

</body>

</html>