<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/fx.js"></script>
  <script src="/javascripts/$.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>