<div class="sign-container signup">
  <form class="form">
    <div class="round-box">
      <div class="h1">회원가입</div>
      <div class="column">
        <input type="text" name="email" class="input" placeholder="이메일을 입력해주세요.">
      </div>
      <div class="column">
        <input type="password" name="password" class="input" placeholder="비밀번호를 입력해주세요.">
      </div>
      <div class="column">
        <input type="text" name="full_name" class="input" placeholder="이름을 입력해주세요.">
      </div>
      <div class="column">
        <input type="text" name="address" class="input" placeholder="주소를 입력해주세요.">
      </div>
      <div class="column">
        <input type="text" name="phone" class="input" placeholder="핸드폰번호를 입력해주세요.">
      </div>
      <div>
        <input type="text" name="date_of_birth" class="input" placeholder="생년월일을 입력해주세요.">
      </div>
      <div class="column">
        <button type="submit" class="button">회원가입</button>
      </div>
      <div class="column">
        이미 계정이 있으신가요?
        <a href="/login">로그인</a>
      </div>
      <div class="column">
        <span class="error-message"></span>
      </div>
    </div>
  </form>
</div>

<script>
  const checkValidate = iter => {
    for (const a of iter) {
      if (a === '') return false;
    }
    return true;
  }

  const errMsg = msg => go(
    $.qs('.error-message'),
    $.text(msg),
    $.show);

  go(
    $.qs('.form'),
    $.on('submit', (e) => {
      e.preventDefault();

      const { currentTarget: {
        email: { value: email },
        full_name: { value: full_name },
        address: { value: address },
        phone: { value: phone },
        date_of_birth: { value: date_of_birth }
      } } = e;

      if (!checkValidate([email, full_name, address, phone, date_of_birth]))
        return errMsg('이메일 또는 비밀번호를 입력해주세요!');

      go(
        fetch('/signup', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            email,
            full_name,
            address,
            phone,
            date_of_birth,
          }),
        }),
        res => res.json(),
        ({ message }) => {
          if (message) {
            alert(message);
            window.location.href = "http://localhost:3000/login";
          } else {
            errMsg(message);
          }
        });
    })
  );

  go(
    $.qsa('.input'),
    $.on('focus', () => go(
      $.qsa('.error-message'),
      each(el => el.style.display == 'block' && $.hide(el))
    ))
  );
</script>